@use "../settings" as *;

.navbar {
  height: $nav-size;
  background-color: $bg;
  padding: 0 1rem;
  bottom: $border;

  &__nav {
    max-width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;

    &__item {
      width: calc($nav-size * 0.8);
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 15px;

      &__button {
        $button-size: calc($nav-size * 0.5);
        width: $button-size;
        height: $button-size;
        background-color: $light-blue;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: filter 300ms;

        &:hover {
          filter: brightness(1.6);
        }
        &-icon {
          color: $regular-white;
        }
      }
    }
  }
}

// button {
//   border: 0;
//   width: 80px;
//   height: 40px;
//   background: transparent;
//   font-family: "rounded";
//   font-size: 12px;
//   outline: none;
// }

// .container {
//   font-family: "rounded";
//   font-weight: 200;
//   position: fixed;
//   align-items: center;
//   z-index: 2;
//   top: 0;
//   left: 0;
//   height: 10%;
//   width: 100%;
//   padding: 21px;
//   background: $dark-blue;

//   h3 {
//     font-family: "rounded";
//     color: $regular-white;
//     margin-right: 15px;
//     font-size: 14px;
//     padding: 5px;
//   }

//   button {
//     position: fixed;
//     top: 15px;
//     right: 15px;
//     align-items: center;
//     justify-content: space-between;
//     cursor: pointer;
//     border-radius: 6px;
//     background: $button-inactive-blue;
//     color: $focus-white;
//     border: 0;
//     font-family: inherit;
//     font-weight: 500;
//     letter-spacing: 1px;

//     transition: 0.2s ease;

//     &:hover {
//       border: 4px solid $button-inactive-blue;
//       background: $focus-white;
//       color: $button-inactive-blue;
//     }
//   }

//   &__user {
//     display: inline-flex;
//     flex-direction: row;
//     width: max-content;
//     justify-content: space-between;

//     &-icon {
//       color: $regular-white;
//     }
//   }
// }
