@use "../settings" as *;

.signin {
  font-family: "rounded";
  font-weight: 200;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 80px 50px;
  background: $dark-blue;

  h2 {
    margin: 0 0 33px;
    letter-spacing: 1px;
    color: $focus-white;
  }

  p {
    color: #778395;
  }

  &__form {
    display: grid;
    gap: 16px;

    &-BTN {
      display: flex;
      align-items: center;
      border: 0;
      width: 100%;
      height: 60px;
      background: transparent;
      font-family: inherit;
      font-size: 15px;
      outline: none;
      justify-content: space-between;
      cursor: pointer;
      padding: 0 24px;
      border-radius: 6px;
      background: $button-inactive-blue;
      color: $focus-white;
      border: 0;
      font-family: inherit;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 20px;
      transition: 0.2s ease;

      &:hover {
        border: 4px solid $button-inactive-blue;
        background: $focus-white;
        color: $button-inactive-blue;
      }
    }
  }
}
