$dark-blue: #111820;
$light-blue: #465566;
$focus-white: rgb(255 255 255 / 96%);
$regular-white: rgb(255 255 255 / 40%);
$button-inactive-blue: #2e6aca;

$bg: #111820;
$text-color: rgb(255 255 255 / 96%);
$bg-accent: rgb(255 255 255 / 40%);
$border-radius: 8px;
$bg-light-accent: rgb(255 255 255 / 10%);
$nav-size: 60px;
$border: 1px solid #47424d;
$speed: 500ms;
